<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    					http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <servlet>
  <servlet-name>RDF2HTMLRDFa</servlet-name>
  <servlet-class>net.rhizomik.redefer.rdf2html.RDF2HTMLServlet</servlet-class>
  <init-param>
   <param-name>xsl</param-name>
   <param-value>xsl/rdf2html.xsl</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>RDF2HTML</servlet-name>
  <servlet-class>net.rhizomik.redefer.rdf2html.RDF2HTMLServlet</servlet-class>
  <init-param>
   <param-name>xsl</param-name>
   <param-value>xsl/rdf2html.nordfa.xsl</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>RDF2RDFA</servlet-name>
  <servlet-class>net.rhizomik.redefer.rdf2html.RDF2HTMLServlet</servlet-class>
  <init-param>
   <param-name>xsl</param-name>
   <param-value>xsl/rdf2rdfa.xsl</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>RDF2Microdata</servlet-name>
  <servlet-class>net.rhizomik.redefer.rdf2html.RDF2HTMLServlet</servlet-class>
  <init-param>
   <param-name>xsl</param-name>
   <param-value>xsl/rdf2microdata.xsl</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>IsIsomorphic</servlet-name>
  <servlet-class>net.rhizomik.redefer.util.IsIsomorphicServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>

 <servlet-mapping>
  <servlet-name>RDF2HTML</servlet-name>
  <url-pattern>/rdf2html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RDF2HTMLRDFa</servlet-name>
  <url-pattern>/rdf2htmlrdfa</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RDF2RDFA</servlet-name>
  <url-pattern>/rdf2rdfa</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RDF2Microdata</servlet-name>
  <url-pattern>/rdf2microdata</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>IsIsomorphic</servlet-name>
  <url-pattern>/isomorphic</url-pattern>
 </servlet-mapping>

</web-app>
